<template>
   <div>
       <div  v-if='$route.params.score>30'><img src="https://i.imgur.com/HDJwHrx.gif" alt="Good" width="200px" height="120px"><br></div>
       <div  v-else><img src="https://www.pinclipart.com/picdir/big/200-2006233_anxiety-clipart-gif-transparent-fry-futurama-png-download.png" alt="Bad" width="200px" height="160px"><br></div>
       Final Score: {{ $route.params.score }}
       <div v-for="(question, index) in $route.params.questions" :key="index">
           <p><span v-html="question.question"></span></p><br>
           CORRECT ANSWER: <span v-html="question.correct_answer"></span><br>
           YOUR ANSWER: <span v-html='$route.params.answered[index]' 
           :class='[isCorrect(question.correct_answer,$route.params.answered[index]) ? correct : wrong]'></span><br><br>
       </div>
        <router-link to="/" tag="button">&#x21bb;</router-link>
   </div>
</template>

<script >

export default {
    data(){
        return{
            correct: "correct",
            wrong: "wrong",
        };
    },
     methods: {
         isCorrect(userAnswer, correctAnswer){
             return userAnswer == correctAnswer;
         },
     }
}

</script>

<style scoped>

.correct{
    background-color: lightgreen;
}
.wrong{
    background-color: red;
}

</style>