<template>
  <div class="game-menu">
    <img src="../assets/hypno.gif" alt="HypnoFrog"><br>
    <router-link to="/GamePlay" tag="button">Start Game</router-link>
  </div>
</template>

<script>
export default {
  name: "GameMenu"
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
