<template>
  <div>
    <!--<QuizQuestions v-for="(question, index) of questions" :key="index" v-bind:quiz-question="question"/>-->

  <div>Counter: {{numCorrect}}/{{questions.length*10}}</div>

    <QuizQuestions
      v-if="questions.length"
      :numTotalQuestions = "numTotalQuestions"
      :question="question"
      :answers="answers"
      :increment="increment"
      v-on:button-a="handleClick"
      v-on:button-b="handleClick"
      v-on:button-c="handleClick"
      v-on:button-d="handleClick"
    />

    

  </div>
</template>

<script>
import QuizQuestions from "../components/QuizQuestions";
import axios from "axios";
import _ from "lodash";

export default {
  name: "GamePlay",
  components: {
    QuizQuestions
  },
  created() {
    axios
      .get(
        "https://opentdb.com/api.php?amount=10&category=23&difficulty=hard&type=multiple"
      )
      .then(resp => resp.data)
      .then(resp => {
        this.questions = resp.results || [];
      })
      .catch(err => window.console.log(err));
  },
  data() {
    return {
      questions: [],
      index: 0,
      numCorrect: 0,
      numTotalQuestions: 0,
      question: Object,
      answers: [],
      answersAnswered: []
    };
  },
  watch: {
    questions: {
      immediate: true,
      handler() {
        this.getQuestion();
        this.shuffleAnswers();
      }
    },
   },
  methods: {
    routeToGameOver(){
      this.$router.replace({name:'GameOver', params: {
        score: this.numCorrect, 
        questions:this.questions,
        answered: this.answersAnswered
        }});
    },
    handleClick(ans){
      this.answersAnswered.push(this.answers[ans]);
      if(this.answers[ans]==this.questions[this.index].correct_answer){
        this.numCorrect+=10;
        window.console.log(this.numCorrect)
      }
      this.index++;
      if(this.index==10){
        this.routeToGameOver();
      }
      this.getQuestion();
      this.shuffleAnswers();
    },
    increment(isCorrect) {
      if (isCorrect) {
        this.numCorrect++;
      }
      this.numTotal++;
    },
    getQuestion() {
      this.question = this.questions[this.index].question;
    },
    shuffleAnswers() {
      let tempAnswers = [
        ...this.questions[this.index].incorrect_answers,
        this.questions[this.index].correct_answer
      ];
      this.answers = _.shuffle(tempAnswers);
    }
  }
};
</script>

<style scoped>



</style>