<template>
  <div class="quiz-question">
    <h1 slot="lead">
      <span v-html="question"></span><br>
     <!-- <div v-for="(alt, index) in answers" :key="index">
        <button v-on:click="onClick">{{alt}}</button>
      </div> -->
      <button class="button" v-on:click="onClickA"><span v-html="answers[0]" margin="10px"></span></button>
      <button class="button" v-on:click="onClickB"><span v-html="answers[1]"></span></button>
      <button class="button" v-on:click="onClickC"><span v-html="answers[2]"></span></button>
      <button class="button" v-on:click="onClickD"><span v-html="answers[3]"></span></button>
      
    </h1>
  </div>
</template>

<script >

export default {
  name: "QuizQuestion",
  props: {
    question: String,
    answers: Array,
    increment: Function,
  },
  data() {
    return {
      correctIndex: null,
      button: "button"
    };
  },
  methods:{
    onClickA(){
      this.$emit('button-a',0)
      
    },
     onClickB(){
      this.$emit('button-b',1)
       
    },
     onClickC(){
      this.$emit('button-c',2)
      
    },
     onClickD(){
      this.$emit('button-d',3)
         
    }
  }
};
</script>

<style scoped>
.button{
  margin: 10px;
  background: lightblue;
}
</style>